___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis & Visualization with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Project Solution</p>

![image.png](https://i.ibb.co/mT1GG7j/US-citizen.jpg)

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Analysis of US Citizens by Income Levels</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [Introduction](#0)
* [Dataset Info](#1)
* [Importing Related Libraries](#2)
* [Recognizing & Understanding Data](#3)
* [Univariate & Multivariate Analysis](#4)    
* [Other Specific Analysis Questions](#5)
* [Dropping Similar & Unneccessary Features](#6)
* [Handling with Missing Values](#7)
* [Handling with Outliers](#8)    
* [Final Step to make ready dataset for ML Models](#9)
* [The End of the Project](#10)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Introduction</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

One of the most important components to any data science experiment that doesn’t get as much importance as it should is **``Exploratory Data Analysis (EDA)``**. In short, EDA is **``"A first look at the data"``**. It is a critical step in analyzing the data from an experiment. It is used to understand and summarize the content of the dataset to ensure that the features which we feed to our machine learning algorithms are refined and we get valid, correctly interpreted results.
In general, looking at a column of numbers or a whole spreadsheet and determining the important characteristics of the data can be very tedious and boring. Moreover, it is good practice to understand the problem statement and the data before you get your hands dirty, which in view, helps to gain a lot of insights. I will try to explain the concept using the Adult dataset/Census Income dataset available on the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Adult). The problem statement here is to predict whether the income exceeds 50k a year or not based on the census data.

# Aim of the Project

Applying Exploratory Data Analysis (EDA) and preparing the data to implement the Machine Learning Algorithms;
1. Analyzing the characteristics of individuals according to income groups
2. Preparing data to create a model that will predict the income levels of people according to their characteristics (So the "salary" feature is the target feature)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Dataset Info</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

The Census Income dataset has 48,842 entries. Each entry contains the following information about an individual:

- **salary (target feature/label):** whether or not an individual makes more than $50,000 annually. (<= 50K, >50K)
- **age:** the age of an individual. (Integer greater than 0)
- **workclass:** a general term to represent the employment status of an individual. (Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked)
- **fnlwgt:** this is the number of people the census believes the entry represents. People with similar demographic characteristics should have similar weights.  There is one important caveat to remember about this statement. That is that since the CPS sample is actually a collection of 51 state samples, each with its own probability of selection, the statement only applies within state.(Integer greater than 0)
- **education:** the highest level of education achieved by an individual. (Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.)
- **education-num:** the highest level of education achieved in numerical form. (Integer greater than 0)
- **marital-status:** marital status of an individual. Married-civ-spouse corresponds to a civilian spouse while Married-AF-spouse is a spouse in the Armed Forces. Married-spouse-absent includes married people living apart because either the husband or wife was employed and living at a considerable distance from home (Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse)
- **occupation:** the general type of occupation of an individual. (Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces)
- **relationship:** represents what this individual is relative to others. For example an individual could be a Husband. Each entry only has one relationship attribute. (Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried)
- **race:** Descriptions of an individual’s race. (White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black)
- **sex:** the biological sex of the individual. (Male, female)
- **capital-gain:** capital gains for an individual. (Integer greater than or equal to 0)
- **capital-loss:** capital loss for an individual. (Integer greater than or equal to 0)
- **hours-per-week:** the hours an individual has reported to work per week. (continuous)
- **native-country:** country of origin for an individual (United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">How to Install/Enable Intellisense or Autocomplete in Jupyter Notebook</p>

### Installing [jupyter_contrib_nbextensions](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/install.html)

**To install the current version from The Python Package Index (PyPI), which is a repository of software for the Python programming language, simply type:**

!pip install jupyter_contrib_nbextensions

**Alternatively, you can install directly from the current master branch of the repository:**

!pip install https://github.com/ipython-contrib/jupyter_contrib_nbextensions/tarball/master

### Enabling [Intellisense or Autocomplete in Jupyter Notebook](https://botbark.com/2019/12/18/how-to-enable-intellisense-or-autocomplete-in-jupyter-notebook/)


### Installing hinterland for jupyter without anaconda

**``STEP 1:``** ``Open cmd prompt and run the following commands``

 1) pip install jupyter_contrib_nbextensions<br>
 2) pip install jupyter_nbextensions_configurator<br>
 3) jupyter contrib nbextension install --user<br> 
 4) jupyter nbextensions_configurator enable --user<br>

**``STEP 2:``** ``Open jupyter notebook``

 1) click on nbextensions tab<br>
 2) unckeck disable configuration for nbextensions without explicit compatibility<br>
 3) put a check on Hinterland<br>

**``Step 3:``** ``Open new python file and check autocomplete feature``

[VIDEO SOURCE](https://www.youtube.com/watch?v=DKE8hED0fow)

![Image_Assignment](https://i.ibb.co/RbmDmD6/E8-EED4-F3-B3-F4-4571-B6-A0-1-B3224-AAB060-4-5005-c.jpg)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Related Libraries</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

plt.rcParams["figure.figsize"] = (10, 6)

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Set it None to display all rows in the dataframe
# pd.set_option('display.max_rows', None)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:left; border-radius:10px 10px;">Reading the data from file</p>

In [ ]:
df = pd.read_csv("../data&resources/adult_eda.csv")

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Recognizing and Understanding Data</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### 1.Try to understand what the data looks like
- Check the head, shape, data-types of the features.
- Check if there are some dublicate rows or not. If there are, then drop them. 
- Check the statistical values of features.
- If needed, rename the columns' names for easy use. 
- Basically check the missing values.

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.duplicated().value_counts()

In [ ]:
 df.drop_duplicates(keep = 'first', inplace = True)

In [ ]:
df.shape

In [ ]:
df.describe().T

In [ ]:
df.rename(columns={"education-num" : "education_num",
                   "marital-status" : "marital_status",
                   "capital-gain" : "capital_gain",
                   "capital-loss": "capital_loss",
                   "hours-per-week" : "hours_per_week",
                   "native-country" : "native_country",
                   "sex" : "gender"},
          inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum() / df.shape[0] * 100

### 2.Look at the value counts of columns that have object datatype and detect strange values apart from the NaN Values

In [ ]:
df.columns

In [ ]:
df.describe(include="object").T

In [ ]:
object_col = df.select_dtypes(include='object').columns
object_col

In [ ]:
for col in object_col:
    print(col)
    print("--"*8)
    print(df[col].value_counts(dropna=False))
    print("--"*20)

In [ ]:
df[df.isin(['?'])].any()

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Univariate & Multivariate Analysis</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Examine all features (first target feature("salary"), then numeric ones, lastly categoric ones) separetly from different aspects according to target feature.

**to do list for numeric features:**
1. Check the boxplot to see extreme values 
2. Check the histplot/kdeplot to see distribution of feature
3. Check the statistical values
4. Check the boxplot and histplot/kdeplot by "salary" levels
5. Check the statistical values by "salary" levels
6. Write down the conclusions you draw from your analysis

**to do list for categoric features:**
1. Find the features which contains similar values, examine the similarities and analyze them together 
2. Check the count/percentage of person in each categories and visualize it with a suitable plot
3. If need, decrease the number of categories by combining similar categories
4. Check the count of person in each "salary" levels by categories and visualize it with a suitable plot
5. Check the percentage distribution of person in each "salary" levels by categories and visualize it with suitable plot
6. Check the count of person in each categories by "salary" levels and visualize it with a suitable plot
7. Check the percentage distribution of person in each categories by "salary" levels and visualize it with suitable plot
8. Write down the conclusions you draw from your analysis

**Note :** Instruction/direction for each feature is available under the corresponding feature in detail, as well.

## Salary (Target Feature)

**Check the count of person in each "salary" levels and visualize it with a countplot**

In [ ]:
df.salary.value_counts(dropna=False)

In [ ]:
fig, ax = plt.subplots()

ax = sns.countplot(data=df, x="salary")

for p in ax.patches:
   ax.annotate((p.get_height()), (p.get_x()+0.35, p.get_height()+100));

In [ ]:
fig, ax = plt.subplots()

ax = sns.countplot(data=df, x="salary")

for container in ax.containers:
    ax.bar_label(container);

**Check the percentage of person in each "salary" levels and visualize it with a pieplot**

In [ ]:
df.salary.value_counts(normalize=True)

In [ ]:
fig, ax = plt.subplots(figsize=(6, 6))

ax.pie(x=df.salary.value_counts().values, 
       labels=['<=50K', '>50K'], 
       autopct='%.1f%%',
       explode=(0, 0.1),
       colors=['lightskyblue', 'gold'],
       textprops={'fontsize': 12},
       shadow=True
       )
plt.title("Percentage of Income-Levels", fontdict = {'fontsize': 14})
plt.show()

**Write down the conclusions you draw from your analysis**

**Result :** While 75% of the individuals in the data set are at the low-income level, 25% are at the high-income level.

## Numeric Features

## age

**Check the boxplot to see extreme values**

In [ ]:
sns.boxplot(data=df, 
            x="age",
            showmeans=True,
            meanprops={"marker":"o",
                       "markerfacecolor":"white", 
                       "markeredgecolor":"black",
                       "markersize":"10"});

**Check the histplot/kdeplot to see distribution of feature**

In [ ]:
sns.histplot(data=df, x="age", bins=20, kde=True);

**Check the statistical values**

In [ ]:
df.age.describe()

**Check the boxplot and histplot/kdeplot by "salary" levels**

In [ ]:
sns.boxplot(data=df, 
            x="salary", 
            y="age",
            showmeans=True,
            meanprops={"marker":"o",
                       "markerfacecolor":"white", 
                       "markeredgecolor":"black",
                       "markersize":"10"});

In [ ]:
sns.histplot(data=df, x="age", bins= 20, kde=True, hue="salary");

In [ ]:
sns.kdeplot(data=df, x="age", hue="salary", fill=True);

**Check the statistical values by "salary" levels**

In [ ]:
df.groupby("salary").age.describe()

**Write down the conclusions you draw from your analysis**

**Result :** The mean and median age of the high-income group is higher than the low-income group. It means the older generation possesses more wealth than the young.

## fnlwgt

**Check the boxplot to see extreme values**

In [ ]:
sns.boxplot(data=df, 
            x="fnlwgt",
            showmeans=True,
            meanprops={"marker":"o",
                       "markerfacecolor":"white", 
                       "markeredgecolor":"black",
                       "markersize":"10"});

**Check the histplot/kdeplot to see distribution of feature**

In [ ]:
sns.kdeplot(data=df, x="fnlwgt", fill=True);

**Check the statistical values**

In [ ]:
df.fnlwgt.describe()

**Check the boxplot and histplot/kdeplot by "salary" levels**

In [ ]:
sns.boxplot(data=df, 
            x="salary", 
            y="fnlwgt",
            showmeans=True,
            meanprops={"marker":"o",
                       "markerfacecolor":"white", 
                       "markeredgecolor":"black",
                       "markersize":"10"});

In [ ]:
sns.kdeplot(data=df, x="fnlwgt", hue="salary", fill=True);

**Check the statistical values by "salary" levels**

In [ ]:
df.groupby("salary").fnlwgt.describe()

**Write down the conclusions you draw from your analysis**

**Result :** There is no significant difference between high and low-income groups according to the "fnlwgt" feature.

## capital_gain

**Check the boxplot to see extreme values**

In [ ]:
sns.boxplot(data=df, x="capital_gain");

**Check the histplot/kdeplot to see distribution of feature**

In [ ]:
sns.kdeplot(data=df, x="capital_gain", fill=True);

**Check the statistical values**

In [ ]:
df.capital_gain.describe()

**Check the boxplot and histplot/kdeplot by "salary" levels**

In [ ]:
sns.boxplot(data=df, x="salary", y="capital_gain");

In [ ]:
sns.kdeplot(data=df, x="capital_gain", hue="salary", fill=True);

**Check the statistical values by "salary" levels**

In [ ]:
df.groupby("salary").capital_gain.describe()

**Check the statistical values by "salary" levels for capital_gain not equal the zero**

In [ ]:
df[df.capital_gain != 0].groupby("salary").capital_gain.describe()

**Write down the conclusions you draw from your analysis**

**Result :** The "capital-gain" feature has not provided very meaningful insights. Nevertheless, we can say that the more "capital-gain", the more "high-income".

## capital_loss

**Check the boxplot to see extreme values**

In [ ]:
sns.boxplot(data=df, x="capital_loss");

**Check the histplot/kdeplot to see distribution of feature**

In [ ]:
sns.kdeplot(data=df, x="capital_loss", fill=True);

**Check the statistical values**

In [ ]:
df.capital_loss.describe()

**Check the boxplot and histplot/kdeplot by "salary" levels**

In [ ]:
sns.boxplot(data=df, x="salary", y="capital_loss");

In [ ]:
sns.kdeplot(data=df, x="capital_loss", hue="salary", fill=True);

**Check the statistical values by "salary" levels**

In [ ]:
df.groupby("salary").capital_loss.describe()

**Check the statistical values by "salary" levels for capital_loss not equel the zero**

In [ ]:
df[df.capital_loss != 0].groupby("salary").capital_loss.describe()

**Write down the conclusions you draw from your analysis**

**Result :** There is no significant difference between high and low-income groups according to the "capital_loss" feature.

## hours_per_week

**Check the boxplot to see extreme values**

In [ ]:
sns.boxplot(data=df, 
            x="hours_per_week",
            showmeans=True,
            meanprops={"marker":"o",
                       "markerfacecolor":"white", 
                       "markeredgecolor":"black",
                       "markersize":"10"});

**Check the histplot/kdeplot to see distribution of feature**

In [ ]:
sns.kdeplot(data=df, x="hours_per_week", fill=True);

**Check the statistical values**

In [ ]:
df.hours_per_week.describe()

**Check the boxplot and histplot/kdeplot by "salary" levels**

In [ ]:
sns.boxplot(data=df, 
            x="salary", 
            y="hours_per_week",
            showmeans=True,
            meanprops={"marker":"o",
                       "markerfacecolor":"white", 
                       "markeredgecolor":"black",
                       "markersize":"10"});

In [ ]:
sns.kdeplot(data=df, x="hours_per_week", hue="salary", fill=True);

**Check the statistical values by "salary" levels**

In [ ]:
df.groupby("salary").hours_per_week.describe()

**Write down the conclusions you draw from your analysis**

**Result :** To be in a high-income group, almost at least 40 hours working per week is required. Most of those who work less than 40 hours per week are in the low-income group.

## See the relationship between each numeric features by target feature (salary) in one plot basically

In [ ]:
sns.pairplot(df, hue="salary", palette="viridis", corner=True);

## Categorical Features

## education & education_num

**Detect the similarities between these features by comparing unique values**

In [ ]:
df.education.value_counts(dropna=False)

In [ ]:
df.education_num.value_counts(dropna=False)

In [ ]:
df.groupby('education').education_num.value_counts(dropna=False)

**Visualize the count of person in each categories for these features (education, education_num) separately**

In [ ]:
ax = sns.countplot(data=df, x="education")

plt.xticks(rotation=60)

for container in ax.containers:
    ax.bar_label(container);

In [ ]:
ax = sns.countplot(data = df, x = "education_num")

for container in ax.containers:
    ax.bar_label(container);

**Check the count of person in each "salary" levels by these features (education and education_num) separately and visualize them with countplot**

In [ ]:
df.groupby("education").salary.value_counts()

In [ ]:
ax = sns.countplot(data = df, x = "education", hue = "salary")

plt.xticks(rotation = 90)

for container in ax.containers:
    ax.bar_label(container);

In [ ]:
df.groupby("education_num").salary.value_counts()

In [ ]:
ax = sns.countplot(data = df, x = "education_num", hue = "salary")

for container in ax.containers:
    ax.bar_label(container);

**Visualize the boxplot of "education_num" feature by "salary" levels**

In [ ]:
sns.boxplot(data = df, x = "salary", y = "education_num");

**Decrease the number of categories in "education" feature as low, medium, and high level and create a new feature with this new categorical data.**

In [ ]:
def mapping_education(x):
    if x in ["Preschool", "1st-4th", "5th-6th", "7th-8th", "9th", "10th", "11th", "12th"]:
        return "low_level_grade"
    elif x in ["HS-grad", "Some-college", "Assoc-voc", "Assoc-acdm"]:
        return "medium_level_grade"
    elif x in ["Bachelors", "Masters", "Prof-school", "Doctorate"]:
        return "high_level_grade"

In [ ]:
df.education.apply(mapping_education).value_counts(dropna=False)

In [ ]:
df["education_summary"] = df.education.apply(mapping_education)

**Visualize the count of person in each categories for these new education levels (high, medium, low)**

In [ ]:
ax = sns.countplot(data = df, x = "education_summary")

for container in ax.containers:
    ax.bar_label(container);

**Check the count of person in each "salary" levels by these new education levels(high, medium, low) and visualize it with countplot**

In [ ]:
df.groupby("education_summary").salary.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="education_summary", hue="salary")

for container in ax.containers:
    ax.bar_label(container);

**Check the percentage distribution of person in each "salary" levels by each new education levels (high, medium, low) and visualize it with pie plot separately**

In [ ]:
edu = df.groupby(["education_summary"]).salary.value_counts(normalize=True)
edu

In [ ]:
plt.figure(figsize = (18, 6))
index = 1
for i in [0, 2, 4]:
    plt.subplot(1,3,index)
    edu[i:i+2].plot.pie(subplots=True,
                        labels=["<=50K", ">50K"],
                        autopct="%.2f%%",
                        textprops={'fontsize': 12},
                        colors=['pink', 'lightskyblue'],
                        )
    plt.title(edu.index[i][0], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

**Check the count of person in each these new education levels(high, medium, low) by "salary" levels and visualize it with countplot**

In [ ]:
df.groupby("salary").education_summary.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="salary", hue="education_summary")

for container in ax.containers:
    ax.bar_label(container);

**Check the the percentage distribution of person in each these new education levels(high, medium, low) by "salary" levels and visualize it with pie plot separately**

In [ ]:
edu = df.groupby(["salary"]).education_summary.value_counts(normalize=True)
edu

In [ ]:
plt.figure(figsize = (18, 6))
index = 1
for i in [0, 3]:
    plt.subplot(1,2,index)
    edu[i:i+3].plot.pie(subplots=True,
                       #labels=["high", "medium", "low"],
                        autopct="%.2f%%",
                        textprops={'fontsize': 12},
                        colors=['pink', 'lightskyblue', 'lightgreen'],
                        )
    plt.title(edu.index[i][0], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

In [ ]:
edu_df = pd.DataFrame(edu)
edu_df.rename(columns = {"education_summary" : "percentage"}, inplace = True)
edu_df.reset_index(inplace = True)
edu_df.sort_values(by = ["salary", "education_summary"], inplace=True)
edu_df

In [ ]:
plt.figure(figsize = (18, 6))
index = 1
for i in [0, 3]:
    plt.subplot(1,2,index)
    edu_df["percentage"][i:i+3].plot.pie(subplots=True,
                                         labels=["high", "low", "medium"],
                                         autopct="%.2f%%",
                                         textprops={'fontsize': 12},
                                         colors=['pink', 'lightskyblue', 'lightgreen'],
                                         )
    plt.title(edu_df.salary[i], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

**Write down the conclusions you draw from your analysis**

**Result :** We can easily say that the more education the more high income.

## marital_status & relationship

**Detect the similarities between these features by comparing unique values**

In [ ]:
df.marital_status.value_counts(dropna=False)

In [ ]:
df.relationship.value_counts(dropna=False)

In [ ]:
df.relationship.fillna("Unknown", inplace=True)

In [ ]:
df.groupby("relationship").marital_status.value_counts(dropna=False)

**Assessment :** These features have almost same info, but "relationship" feature has %15 of missing values. So I have decided to go my way with "marital_status" feature

**Visualize the count of person in each categories**

In [ ]:
ax = sns.countplot(data=df, x="marital_status")

plt.xticks(rotation=45)

for container in ax.containers:
    ax.bar_label(container);

**Check the count of person in each "salary" levels by categories and visualize it with countplot**

In [ ]:
df.groupby("marital_status").salary.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="marital_status", hue="salary")

plt.xticks(rotation=45)

for container in ax.containers:
    ax.bar_label(container);

**Decrease the number of categories in "marital_status" feature as married, and unmarried and create a new feature with this new categorical data**

In [ ]:
def mapping_marital_status(x):
    if x in ["Never-married", "Divorced", "Separated", "Widowed"]:
        return "unmarried"
    elif x in ["Married-civ-spouse", "Married-AF-spouse", "Married-spouse-absent"]:
        return "married"

In [ ]:
df.marital_status.apply(mapping_marital_status).value_counts(dropna=False)

In [ ]:
df["marital_status_summary"] = df.marital_status.apply(mapping_marital_status)

**Visualize the count of person in each categories for these new marital status (married, unmarried)**

In [ ]:
ax = sns.countplot(data=df, x="marital_status_summary")

for container in ax.containers:
    ax.bar_label(container);

**Check the count of person in each "salary" levels by these new marital status (married, unmarried) and visualize it with countplot**

In [ ]:
df.groupby("marital_status_summary").salary.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="marital_status_summary", hue="salary")

for container in ax.containers:
    ax.bar_label(container);

**Check the percentage distribution of person in each "salary" levels by each new marital status (married, unmarried) and visualize it with pie plot separately**

In [ ]:
marital = df.groupby(["marital_status_summary"]).salary.value_counts(normalize=True)
marital

In [ ]:
plt.figure(figsize = (18, 6))
index = 1
for i in [0, 2]:
    plt.subplot(1,2,index)
    marital[i:i+2].plot.pie(subplots=True,
                            labels=["<=50K", ">50K"],
                            autopct="%.2f%%",
                            textprops={'fontsize': 12},
                            colors=['pink', 'lightskyblue'],
                            )
    plt.title(marital.index[i][0], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

**Check the count of person in each these new marital status (married, unmarried) by "salary" levels and visualize it with countplot**

In [ ]:
df.groupby("salary").marital_status_summary.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="salary", hue="marital_status_summary")

for container in ax.containers:
    ax.bar_label(container);

**Check the the percentage distribution of person in each these new marital status (married, unmarried) by "salary" levels and visualize it with pie plot separately**

In [ ]:
marital = df.groupby("salary").marital_status_summary.value_counts(normalize=True)
marital

In [ ]:
marital_df = pd.DataFrame(marital)
marital_df.rename(columns = {"marital_status_summary" : "percentage"}, inplace = True)
marital_df.reset_index(inplace = True)
marital_df.sort_values(by = ["salary", "marital_status_summary"], inplace = True)
marital_df

In [ ]:
plt.figure(figsize = (18, 6))
index = 1
for i in [0, 2]:
    plt.subplot(1,2,index)
    marital_df["percentage"][i:i+2].plot.pie(subplots=True,
                                             labels=["married", "unmarried"],
                                             autopct="%.2f%%",
                                             textprops={'fontsize': 12},
                                             colors=['pink', 'lightskyblue'],
                                             )
    plt.title(marital_df.salary[i], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

**Write down the conclusions you draw from your analysis**

**Result :** We can easily say that married persons have earned more income than unmarried persons.

## workclass

**Check the count of person in each categories and visualize it with countplot**

In [ ]:
df.workclass.value_counts(dropna=False)

In [ ]:
ax = sns.countplot(data=df, x="workclass")

plt.xticks(rotation=60)

for container in ax.containers:
    ax.bar_label(container);

**Replace the value "?" to the value "Unknown"**

In [ ]:
df.workclass.replace("?", "Unknown", inplace=True)

**Check the count of person in each "salary" levels by workclass groups and visualize it with countplot**

In [ ]:
df.groupby("workclass").salary.value_counts()

In [ ]:
ax = sns.countplot(data = df, x = "workclass", hue = "salary")

plt.xticks(rotation=60)

for container in ax.containers:
    ax.bar_label(container);

**Check the percentage distribution of person in each "salary" levels by each workclass groups and visualize it with bar plot**

In [ ]:
workclass = df.groupby("workclass").salary.value_counts(normalize=True)
workclass

In [ ]:
workclass_df = pd.DataFrame(workclass)
workclass_df.rename(columns = {"salary" : "percentage"}, inplace = True)
workclass_df.reset_index(inplace = True)
workclass_df.sort_values(by = ["workclass", "salary"], inplace=True)
workclass_df

In [ ]:
fig, ax = plt.subplots()

ax = sns.barplot(data = workclass_df, x = "workclass", y = "percentage", hue = "salary")

plt.xticks(rotation=60)

for container in ax.containers:
    ax.bar_label(container);

**Check the count of person in each workclass groups by "salary" levels and visualize it with countplot**

In [ ]:
df.groupby("salary").workclass.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="salary", hue="workclass")

for container in ax.containers:
    ax.bar_label(container);

**Check the the percentage distribution of person in each workclass groups by "salary" levels and visualize it with countplot**

In [ ]:
workclass = df.groupby("salary").workclass.value_counts(normalize=True)
workclass

In [ ]:
workclass_df = pd.DataFrame(workclass)
workclass_df.rename(columns = {"workclass" : "percentage"}, inplace = True)
workclass_df.reset_index(inplace = True)
workclass_df.sort_values(by = ["salary", "workclass"], inplace=True)
workclass_df

In [ ]:
fig, ax = plt.subplots(figsize=(14, 6))

ax = sns.barplot(data=workclass_df, x="salary", y="percentage", hue="workclass")

for container in ax.containers:
    ax.bar_label(container);

**Write down the conclusions you draw from your analysis**

**Result :** "Self-emp-inc" work-class has a high ratio in the self group about high-level income. "Private" work-class has a high ratio in the high-income group about high-level income.

## occupation

**Check the count of person in each categories and visualize it with countplot**

In [ ]:
df.occupation.value_counts(dropna=False)

In [ ]:
ax = sns.countplot(data=df, x="occupation")

plt.xticks(rotation = 90)

for container in ax.containers:
    ax.bar_label(container);

**Replace the value "?" to the value "Unknown"**

In [ ]:
df.occupation.replace("?", "Unknown", inplace=True)

**Check the count of person in each "salary" levels by occupation groups and visualize it with countplot**

In [ ]:
df.groupby("occupation").salary.value_counts()

In [ ]:
ax = sns.countplot(data = df, x = "occupation", hue = "salary")

plt.xticks(rotation=90)

for container in ax.containers:
    ax.bar_label(container);

**Check the percentage distribution of person in each "salary" levels by each occupation groups and visualize it with bar plot**

In [ ]:
occupation = df.groupby("occupation").salary.value_counts(normalize=True)
occupation

In [ ]:
occupation_df = pd.DataFrame(occupation)
occupation_df.rename(columns = {"salary" : "percentage"}, inplace = True)
occupation_df.reset_index(inplace = True)
occupation_df.sort_values(by = ["occupation", "salary"], inplace=True)
occupation_df

In [ ]:
fig, ax = plt.subplots(figsize=(14, 6))

ax = sns.barplot(data = occupation_df, x = "occupation", y = "percentage", hue = "salary")

plt.xticks(rotation=60)

for container in ax.containers:
    ax.bar_label(container);

**Check the count of person in each occupation groups by "salary" levels and visualize it with countplot**

In [ ]:
df.groupby("salary").occupation.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="salary", hue="occupation")

for container in ax.containers:
    ax.bar_label(container);

**Check the the percentage distribution of person in each occupation groups by "salary" levels and visualize it with bar plot**

In [ ]:
occupation = df.groupby("salary").occupation.value_counts(normalize=True)
occupation

In [ ]:
occupation_df = pd.DataFrame(occupation)
occupation_df.rename(columns = {"occupation" : "percentage"}, inplace = True)
occupation_df.reset_index(inplace = True)
occupation_df.sort_values(by = ["salary", "occupation"], inplace=True)
occupation_df

In [ ]:
fig, ax = plt.subplots(figsize=(20, 6))

ax = sns.barplot(data = occupation_df, x = "salary", y = "percentage", hue = "occupation")

for container in ax.containers:
    ax.bar_label(container);

**Write down the conclusions you draw from your analysis**

**Result :** "Exec-managerial" and "Prof-specialty" occupations have a high ratio of high-level income both in the self group and in the high-income group.

## race

**Check the count of person in each categories and visualize it with countplot**

In [ ]:
df.race.value_counts(dropna=False)

In [ ]:
ax = sns.countplot(data = df, x = "race")

plt.xticks(rotation = 45)

for container in ax.containers:
    ax.bar_label(container);

**Check the count of person in each "salary" levels by races and visualize it with countplot**

In [ ]:
df.groupby("race").salary.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="race", hue="salary")

plt.xticks(rotation=45)

for container in ax.containers:
    ax.bar_label(container);

**Check the percentage distribution of person in each "salary" levels by each races and visualize it with pie plot**

In [ ]:
race = df.groupby("race").salary.value_counts(normalize=True)
race

In [ ]:
plt.figure(figsize = (18, 12))
index = 1
for i in [0, 2, 4, 6, 8]:
    plt.subplot(2,3,index)
    race[i:i+2].plot.pie(subplots=True,
                         labels=["<=50K", ">50K"],
                         autopct="%.2f%%",
                         textprops={'fontsize': 12},
                         colors=['pink', 'lightskyblue'],
                         )
    plt.title(race.index[i][0], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

**Check the count of person in each races by "salary" levels and visualize it with countplot**

In [ ]:
df.groupby("salary").race.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="salary", hue="race")

for container in ax.containers:
    ax.bar_label(container);

**Check the the percentage distribution of person in each races by "salary" levels and visualize it with bar plot**

In [ ]:
race = df.groupby("salary").race.value_counts(normalize=True)
race

In [ ]:
race_df = pd.DataFrame(race)
race_df.rename(columns = {"race" : "percentage"}, inplace = True)
race_df.reset_index(inplace = True)
race_df.sort_values(by = ["salary", "race"], inplace=True)
race_df

In [ ]:
fig, ax = plt.subplots(figsize=(14, 6))

ax = sns.barplot(data=race_df, x="salary", y="percentage", hue="race")

for container in ax.containers:
    ax.bar_label(container);

**Write down the conclusions you draw from your analysis**

**Result :** "Asian-Pac-Islander" and "White" races has a high ratio in the self group about high-level income. "White" race has a high ratio in the high-income group about high-level income.

## gender

**Check the count of person in each gender and visualize it with countplot**

In [ ]:
df.gender.value_counts(dropna=False)

In [ ]:
ax = sns.countplot(data=df, x="gender")

for container in ax.containers:
    ax.bar_label(container);

**Check the count of person in each "salary" levels by gender and visualize it with countplot**

In [ ]:
df.groupby("gender").salary.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="gender", hue="salary")

for container in ax.containers:
    ax.bar_label(container);

**Check the percentage distribution of person in each "salary" levels by each gender and visualize it with pie plot**

In [ ]:
gender = df.groupby("gender").salary.value_counts(normalize=True)
gender

In [ ]:
plt.figure(figsize = (18, 6))
index = 1
for i in [0, 2]:
    plt.subplot(1,2,index)
    gender[i:i+2].plot.pie(subplots=True,
                         labels=["<=50K", ">50K"],
                         autopct="%.2f%%",
                         textprops={'fontsize': 12},
                         colors=['pink', 'lightskyblue'],
                         )
    plt.title(gender.index[i][0], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

**Check the count of person in each gender by "salary" levels and visualize it with countplot**

In [ ]:
df.groupby("salary").gender.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="salary", hue="gender")

for container in ax.containers:
    ax.bar_label(container);

**Check the the percentage distribution of person in each gender by "salary" levels and visualize it with pie plot**

In [ ]:
gender = df.groupby("salary").gender.value_counts(normalize=True)
gender

In [ ]:
plt.figure(figsize = (18, 6))
index = 1
for i in [0, 2]:
    plt.subplot(1,2,index)
    gender[i:i+2].plot.pie(subplots=True,
                         labels=["Male", "Female"],
                         autopct="%.2f%%",
                         textprops={'fontsize': 12},
                         colors=['pink', 'lightskyblue'],
                         )
    plt.title(gender.index[i][0], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

**Write down the conclusions you draw from your analysis**

**Result :** We can easily say that males have earned more income than females.

## native_country

**Check the count of person in each categories and visualize it with countplot**

In [ ]:
df.native_country.value_counts(dropna=False)

In [ ]:
plt.figure(figsize=(14, 6))

sns.countplot(data=df, x="native_country")
plt.xticks(rotation=90)

for container in ax.containers:
    ax.bar_label(container);

**Replace the value "?" to the value "Unknown"**

In [ ]:
df.native_country.replace("?", "Unknown", inplace = True)

**Decrease the number of categories in "native_country" feature as US, and Others and create a new feature with this new categorical data**

In [ ]:
def mapping_native_country(x):
    if x == "United-States":
        return "US"
    else:
        return "Others"

In [ ]:
df.native_country.apply(mapping_native_country).value_counts(dropna=False)

In [ ]:
df["native_country_summary"] = df.native_country.apply(mapping_native_country)
df["native_country_summary"]

**Visualize the count of person in each new categories (US, Others)**

In [ ]:
ax = sns.countplot(data=df, x="native_country_summary")

for container in ax.containers:
    ax.bar_label(container);

**Check the count of person in each "salary" levels by these new native countries (US, Others) and visualize it with countplot**

In [ ]:
df.groupby("native_country_summary").salary.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="native_country_summary", hue="salary")

for container in ax.containers:
    ax.bar_label(container);

**Check the percentage distribution of person in each "salary" levels by each new native countries (US, Others) and visualize it with pie plot separately**

In [ ]:
country = df.groupby(["native_country_summary"]).salary.value_counts(normalize=True)
country

In [ ]:
plt.figure(figsize = (18, 6))
index = 1
for i in [0, 2]:
    plt.subplot(1,2,index)
    country[i:i+2].plot.pie(subplots=True,
                            labels=["<=50K", ">50K"],
                            autopct="%.2f%%",
                            textprops={'fontsize': 12},
                            colors=['pink', 'lightskyblue'],
                            )
    plt.title(country.index[i][0], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

**Check the count of person in each these new native countries (US, Others) by "salary" levels and visualize it with countplot**

In [ ]:
df.groupby("salary").native_country_summary.value_counts()

In [ ]:
ax = sns.countplot(data=df, x="salary", hue="native_country_summary")

for container in ax.containers:
    ax.bar_label(container);

**Check the the percentage distribution of person in each these new native countries (US, Others) by "salary" levels and visualize it with pie plot separately**

In [ ]:
country = df.groupby(["salary"]).native_country_summary.value_counts(normalize=True)
country

In [ ]:
plt.figure(figsize = (18, 6))
index = 1
for i in [0, 2]:
    plt.subplot(1,2,index)
    country[i:i+2].plot.pie(subplots=True,
                            labels=["US", "Others"],
                            autopct="%.2f%%",
                            textprops={'fontsize': 12},
                            colors=['pink', 'lightskyblue'],
                            )
    plt.title(country.index[i][0], fontdict = {'fontsize': 14})
#    plt.legend()
    index += 1

**Write down the conclusions you draw from your analysis**

**Result :** "United States" has a high ratio of high-level income both in the self group and in the high-income group.

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Other Specific Analysis Questions</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### 1. What is the average age of males and females by income level?

In [ ]:
df.groupby(["salary", "gender"]).age.mean()

In [ ]:
fig, ax = plt.subplots()

ax = df.groupby(["salary", "gender"]).age.mean().plot.bar()

for container in ax.containers:
    ax.bar_label(container);

In [ ]:
age = df.groupby(["salary", "gender"])[["age"]].mean().reset_index()
age

In [ ]:
fig, ax = plt.subplots()

ax = sns.barplot(data=age, x="salary", y="age", hue="gender")

for container in ax.containers:
    ax.bar_label(container);

### 2. What is the workclass percentages of Americans in high-level income group?

In [ ]:
workclass_US = df[(df.salary == ">50K") & (df.native_country_summary == "US")].workclass.value_counts(dropna = False, normalize = True) * 100
workclass_US

In [ ]:
fig, ax = plt.subplots()

ax = sns.barplot(x = workclass_US.index, y = workclass_US.values)
plt.xticks(rotation=45)

for container in ax.containers:
    ax.bar_label(container);

### 3. What is the occupation percentages of Americans who work as "Private" workclass in high-level income group?

In [ ]:
occupation_US = df[(df.salary == ">50K") & (df.native_country_summary == "US") & (df.workclass == "Private")]\
                  .occupation.value_counts(dropna = False, normalize = True) * 100 
occupation_US

In [ ]:
fig, ax = plt.subplots()

ax = sns.barplot(x = occupation_US.index, y = occupation_US.values)
plt.xticks(rotation=90)

for container in ax.containers:
    ax.bar_label(container);

### 4. What is the education level percentages of Asian-Pac-Islander race group in high-level income group?

In [ ]:
Asian_Pac_Islander = df[(df.salary == ">50K") & (df.race == "Asian-Pac-Islander")]\
                     .education.value_counts(dropna = False, normalize = True) * 100 
Asian_Pac_Islander

In [ ]:
fig, ax = plt.subplots()

ax = sns.barplot(x = Asian_Pac_Islander.index, y = Asian_Pac_Islander.values)
plt.xticks(rotation=90)

for container in ax.containers:
    ax.bar_label(container);

### 5. What is the occupation percentages of Asian-Pac-Islander race group who has a Bachelors degree in high-level income group?

In [ ]:
Asian_Pac_Islander = df[(df.salary == ">50K") & (df.race == "Asian-Pac-Islander") & (df.education == "Bachelors")]\
                     .occupation.value_counts(dropna = False, normalize = True) * 100 
Asian_Pac_Islander

In [ ]:
fig, ax = plt.subplots()

ax = sns.barplot(x = Asian_Pac_Islander.index, y = Asian_Pac_Islander.values)
plt.xticks(rotation=90)

for container in ax.containers:
    ax.bar_label(container);

### 6. What is the mean of working hours per week by gender for education level, workclass, marital status summary and native country summary? Try to plot all required in one figure.

In [ ]:
g = sns.catplot(x="education_summary",
                y="hours_per_week",
                data=df,
                kind="bar",
                estimator= np.mean,
                hue="gender",
                col="marital_status_summary",
                row="native_country_summary",
                ci=None,
                palette=sns.color_palette(['pink', 'skyblue']));

g.fig.set_size_inches(15, 8)
g.fig.subplots_adjust(top=0.9)
g.fig.suptitle('Working Hours Per Week by Gender for Education, Workclass, Marital Status')

# iterate through axes
for ax in g.axes.ravel():

    # add annotations
    for container in ax.containers:
        ax.bar_label(container);
    
    ax.margins(y=0.2)

plt.show()

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Dropping Similar & Unneccessary Features</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [ ]:
df.info()

In [ ]:
df.drop(columns = ["education", "education_num", "relationship", "marital_status", "native_country"], inplace = True)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Handling with Missing Value</p>

<a id="7"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**Check the missing values for all features basically**

In [ ]:
df.isnull().sum()

**1. It seems that there is no missing value. But we know that "workclass", and "occupation" features have missing values as the "Unknown" string values. Examine these features in more detail.**

**2. Decide if drop these "Unknown" string values or not**

In [ ]:
df.workclass.value_counts()

In [ ]:
df.occupation.value_counts()

In [ ]:
df[df.occupation == "Unknown"].workclass.value_counts()

In [ ]:
df.replace("Unknown", np.nan, inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Handling with Outliers</p>

<a id="8"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### Boxplot and Histplot for all numeric features

**Plot boxplots for each numeric features at the same figure as subplots**

In [ ]:
plt.boxplot((df[df.select_dtypes('number').columns]), 
            labels=df.select_dtypes('number').columns,
            showmeans=True,
            meanprops={"marker":"o",
                       "markerfacecolor":"white", 
                       "markeredgecolor":"black",
                       "markersize":"10"});
plt.show()

In [ ]:
index = 0
plt.figure(figsize=(20, 10))
for feature in df.select_dtypes('number').columns:
    index += 1
    plt.subplot(2,3,index)
    sns.boxplot(x=feature, 
                data=df, 
                whis=1.5,
                showmeans=True,
                meanprops={"marker":"o",
                           "markerfacecolor":"white", 
                           "markeredgecolor":"black",
                           "markersize":"10"})

**Plot both boxplots and histograms for each numeric features at the same figure as subplots**

In [ ]:
index = 0
plt.figure(figsize=(20, 40))
for feature in df.select_dtypes('number').columns:
    index += 1
    plt.subplot(6,2, index)
    sns.boxplot(x=feature, data=df, whis=1.5)
    index += 1
    plt.subplot(6,2,index)
    sns.histplot(x=feature, data=df)

**Check the statistical values for all numeric features**

In [ ]:
df.describe().T

**1. After analyzing all features, we have decided that we can't evaluate extreme values in "fnlwgt, capital_gain, capital_loss" features in the scope of outliers.**

**2. So let's examine "age and hours_per_week" features and detect extreme values which could be outliers by using IQR Rule.**

### age

In [ ]:
plt.figure(figsize=(10, 6))

plt.subplot(1, 2, 1)
sns.boxplot(data=df.age,
            showmeans=True,
            meanprops={"marker":"o",
                       "markerfacecolor":"white", 
                       "markeredgecolor":"black",
                       "markersize":"10"})

plt.subplot(1, 2, 2)
sns.histplot(data=df.age);

In [ ]:
low = df.age.quantile(0.25)
high = df.age.quantile(0.75)
IQR = high - low
low, high, IQR

In [ ]:
lower_lim = low - (1.5 * IQR)
upper_lim = high + (1.5 * IQR)
lower_lim, upper_lim

In [ ]:
df[df.age > upper_lim].age.value_counts()

In [ ]:
df[df.age > upper_lim].sort_values(by="age", ascending=False)

### hours_per_week

In [ ]:
plt.figure(figsize=(10, 6))

plt.subplot(1, 2, 1)
sns.boxplot(data=df.hours_per_week,
            showmeans=True,
            meanprops={"marker":"o",
                       "markerfacecolor":"white", 
                       "markeredgecolor":"black",
                       "markersize":"10"})

plt.subplot(1, 2, 2)
sns.histplot(data=df.hours_per_week, bins=10);

In [ ]:
low = df.hours_per_week.quantile(0.25)
high = df.hours_per_week.quantile(0.75)
IQR = high - low
low, high, IQR

In [ ]:
lower_lim = low - (1.5 * IQR)
upper_lim = high + (1.5 * IQR)
lower_lim, upper_lim

In [ ]:
df[df.hours_per_week > upper_lim].hours_per_week.value_counts().sort_index(ascending=False)

In [ ]:
df[df.hours_per_week > upper_lim].sort_values(by="hours_per_week", ascending=False)

In [ ]:
df[df.hours_per_week < lower_lim].hours_per_week.value_counts().sort_index()

In [ ]:
df[df.hours_per_week < lower_lim].groupby("salary").hours_per_week.describe()

In [ ]:
df[df.hours_per_week < lower_lim].groupby("salary").age.describe()

**Result :** As we see, there are number of extreme values in both "age and hours_per_week" features. But how can we know if these extreme values are outliers or not? At this point, **domain knowledge** comes to the fore.

**Domain Knowledge for this dataset:**
1. In this dataset, all values are created according to the statements of individuals. So It can be some "data entries errors".
2. In addition, we have aimed to create an ML model with some restrictions as getting better performance from the ML model.
3. In this respect, our sample space ranges for some features are as follows.
    - age : 17 to 80
    - hours_per_week : 7 to 70
    - if somebody's age is more than 60, he/she can't work more than 60 hours in a week

### Dropping rows according to the domain knownledge

In [ ]:
df[(df.age < 17) | (df.age > 80)].sort_values(by = "age", ascending = False)

In [ ]:
df[(df.age < 17) | (df.age > 80)].shape

In [ ]:
drop_index = df[(df.age < 17) | (df.age > 80)].index
drop_index

In [ ]:
df.drop(drop_index, inplace = True)

In [ ]:
df[(df.hours_per_week < 7) | (df.hours_per_week > 70)].sort_values(by = "hours_per_week", ascending = False)

In [ ]:
df[(df.hours_per_week < 7) | (df.hours_per_week > 70)].shape

In [ ]:
drop_index = df[(df.hours_per_week < 7) | (df.hours_per_week > 70)].index
drop_index

In [ ]:
df.drop(drop_index, inplace = True)

In [ ]:
df[(df.age > 60) & (df.hours_per_week > 60)]

In [ ]:
df[(df.age > 60) & (df.hours_per_week > 60)].shape

In [ ]:
drop_index = df[(df.age > 60) & (df.hours_per_week > 60)].index
drop_index

In [ ]:
df.drop(drop_index, inplace = True)

In [ ]:
df.shape

In [ ]:
df.reset_index(drop = True, inplace = True)
df.head()

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Final Step to Make the Dataset Ready for ML Models</p>

<a id="9"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### 1. Convert all features to numeric

**Convert target feature (salary) to numeric (0 and 1) by using map function**

In [ ]:
df["salary"] = df.salary.map({"<=50K" : 0, ">50K" : 1})
df["salary"]

In [ ]:
df.salary.value_counts()

**Convert all features to numeric by using get_dummies function**

In [ ]:
df_dummy = pd.get_dummies(df, drop_first=True)
df_dummy

In [ ]:
df.shape

In [ ]:
df_dummy.shape

### 2. Take a look at correlation between features by utilizing power of visualizing

In [ ]:
df_dummy.corr()

In [ ]:
plt.figure(figsize=(20, 20))
sns.heatmap(df_dummy.corr(), annot=True, cmap="YlGnBu");

In [ ]:
df_dummy_corr_salary = df_dummy.corr()[["salary"]].drop("salary").sort_values(by = "salary", ascending = False)
df_dummy_corr_salary

In [ ]:
plt.figure(figsize = (3, 14))
sns.heatmap(df_dummy_corr_salary, annot = True, cmap = "YlGnBu")
plt.show()

In [ ]:
plt.figure(figsize = (6, 14))
df_dummy.corr()["salary"].drop("salary").sort_values().plot.barh();

<a id="10"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of the Project</p>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

___